<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gson.jd2021.model.mapper.tjq.GgDesignMapper">
  <resultMap id="BaseResultMap" type="cn.gson.jd2021.model.pojos.GgDesign">
    <id column="design_id" jdbcType="INTEGER" property="designId" />
    <result column="design_name" jdbcType="VARCHAR" property="designName" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
  </resultMap>

<!--  收车登记款式查询-->
  <select id="findDesign" resultMap="BaseResultMap">

    select * from gg_design where brand_id=#{brandId}

  </select>

  <sql id="Base_Column_List">
    design_id, design_name, brand_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gg_design
    where design_id = #{designId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gg_design
    where design_id = #{designId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="design_id" keyProperty="designId" parameterType="cn.gson.jd2021.model.pojos.GgDesign" useGeneratedKeys="true">
    insert into gg_design (design_name, brand_id)
    values (#{designName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="design_id" keyProperty="designId" parameterType="cn.gson.jd2021.model.pojos.GgDesign" useGeneratedKeys="true">
    insert into gg_design
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="designName != null">
        design_name,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="designName != null">
        #{designName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gson.jd2021.model.pojos.GgDesign">
    update gg_design
    <set>
      <if test="designName != null">
        design_name = #{designName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
    </set>
    where design_id = #{designId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.gson.jd2021.model.pojos.GgDesign">
    update gg_design
    set design_name = #{designName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=INTEGER}
    where design_id = #{designId,jdbcType=INTEGER}
  </update>



</mapper>